<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <h1>Moviemagic</h1>
        <nav>
            <input type="text" name="" id="">
            <input type="button" value="search">
        </nav>
    </header>
    <main>
        <h2>All Movies Popular</h2>
        <% popularMovies.forEach((popularMovie)=> { %>
            <section>
                <a href="/movie_detail/<%- popularMovie.id %>">
                    <figure>
                        <img src="https://image.tmdb.org/t/p/w500<%- popularMovie.poster_path %>" alt="">
                        <figcaption>
                            <%- popularMovie.original_title %>
                        </figcaption>
                    </figure>
                </a>
            </section>
            <% }) %>
    </main>
    <footer></footer>
</body>

</html>